<section class="flex flex-col xl:flex xl:flex-row xl:justify-around  items-center font-poppins ml-5">
    <div class="mx-5 md:max-w-3xl">
        <p class="text-secundario text-[24px] mb-2">Hi, there!</p>
        <h1 class="font-bebas text-6xl md:text-[120px] mb-4"><span class="text-principal">LUXE</span> IS HERE TO BE YOUR ASSISTANCE</h1>
        <p class="text-secundario text-[24px] mb-20" >I am here ready to help you in making creative digital products</p>
        <button class="bg-principal rounded-3xl p-5 mb-10 text-white font-medium hover:animate-tada hover:bg-pink-500 transition-colors duration-200">
            <p class="landing-section text-[18px]">Let's Discuss</p>
          </button>
    </div>

    <div class="mt-16 md:max-w-5xl">
        <img src="public/image.jpg" alt="Imagen Header" width="1150px">
    </div>
</section>